body{background-color: #f5f5f5;}
#content{width: 100%;background-color: #f5f5f5;}
#bottom-wrap{margin-top: 0px;}
#preview-main{width: 1200px;margin: 0 auto;height: auto;overflow: hidden;}
#title{width: 100%;padding-bottom:10px;overflow: auto;}
#title img{float:left;margin-right: 10px;margin-top:10px;}
#title .text{float: left;font-size: 20px;letter-spacing: 2px;line-height: 35px; width: 870px;color: #555555;word-break: keep-all;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
#main-left{float:left;width: 77.5%;height: 820px;background-color:white;margin-bottom: 20px;}
#left-top{width: 100%;padding-left: 20px;margin-top: 20px;margin-bottom: 10px;overflow:hidden;}
#left-top ul li{float:left;font-size:16px;letter-spacing: 2px;}
#left-top .people{color:#00BAFF;max-width: 150px;cursor: pointer;word-break: keep-all;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
#left-top .ver{margin-left:16px;margin-right:16px;color:#9e9e9e;}
#swf-viewer-swrap{width: 95%;height: 740px;margin-left: auto;margin-right: auto;border: 1px #e6e6e6 solid;position: relative;}
#swf-viewer{width: 100%;height: 100%;}
#top-all{display: none;position: absolute;top: 1px;left: 1px;width: 23px;height: 23px;background: #EDEDED;z-index: 9;}

#main-right{float:right;width:20.5%;background-color:white;height: auto;}
#main-right ul{margin-left: auto;margin-top: 10px;margin-right:auto;padding-bottom: 20px;width: 90%}
#main-right .first{font-size: 16px;letter-spacing:3px;line-height:60px;height:60px;padding-left: 13px;border-bottom: 1px #e6e6e6 solid;}
#main-right li.last{border-bottom:none;}
#main-right ul li{border-bottom:1px #e6e6e6 dashed;height:60px;margin-bottom: 10px;padding-top:6px;}
#main-right li img{float: left;}
.file-detail{
    float: left;
    margin-top: -5px;
}
.file-detail a:hover{color:#00BAFF}
.file-name{
    width:197px;
    cursor: pointer;
    word-break:keep-all;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    letter-spacing:3px;
    color: #4f4a41;
    font-size:16px;
    margin-left:7px;
}
.file-commit{
    float: left;
    font-size:12px;
    letter-spacing: 3px;
    margin-left:8px;
    color: #7f7f7f;
    margin-top:3px;
}
.file-page{
    float: left;
    font-size:12px;
    letter-spacing: 3px;
    margin-left: 15px;
    color: #7f7f7f;
    margin-top:3px;
}
.file-crash{
    float: left;
    font-size:12px;
    letter-spacing:3px;
    margin-left: 20px;
    color: #7f7f7f;
    margin-top:3px;
}
/*fgds*/
#preview-bottom{
    width:100%;
    height: 55px;
    line-height: 55px;
    background-color: #e7e7e7;
    border-top:1px #C6C6C6 solid;
    overflow: auto;
}
#bottom-con{
    width:400px;
    height: 55px;
    margin: 0 auto;
}
#bottom-wrap1{width: 1210px;margin: 0 auto;}
#bottom-wrap2{width: 882px;}
/*#bottom-wrap3{ float:right;width: 408px;}*/
#integral{
    float:right;
    color:red;
    font-size:16px;
    letter-spacing: 2px;
    line-height: 55px;
}

#download:hover{
    background-image: url('../../Img/Library/preview/download2.png');
}
.left{float:left}
.empty{width: 100%;height:100%;line-height:870px;text-align: center;letter-spacing: 2px;font-size: 20px;color: #CECECE;background: url('../img/library/preview/fail.png') center no-repeat;background-color:rgba(245, 245, 245, 0.27);}
#credit{float: right;margin-right: 10px;letter-spacing: 2px;font-size: 14px;margin-top: -1px;}